<files ".htaccess">
	order allow,deny
	deny from all
</files>
<ifModule mod_headers.c>
	Header unset ETag
</ifModule>
FileETag None
Options All -Indexes
LimitRequestBody 10485760
RewriteEngine On
RewriteRule ^assets/(.*)$ assets/$1 [L]
RewriteRule ^api/(.*)$ api.php?$1 [L]
RewriteRule ^(.*)$ net.php?$1 [L]
